// INVITE :: START

.invite
  .invite__row
    p.invite__title!= "Invite members with this team link:"
    p.invite__link!= "https://www.dreamteams.io/reg/?teamname=team-stian&secret=8Ei8L"

  a.invite__btn(href="#" copyinvite-js)!= "Copy link"

// INVITE :: END