// MAIN :: START

.main
  .main__img-wrap
    img.main__img(src="./img/img-main__teams.png")

  .main__row.main__row--title
    h1.main__title.title!= "Tilsyn ferdig på stedet - Mattilsynet"

  .main__row.main__row--link
    a.main__link.subtitle(href="")
      != "Chat on slack"
      i.main__link-icon
      sup!= "2"

// MAIN :: END