// POWER :: START

#power.power
  .container

      h2.power__title.title!= "The Power of Teams"

      p.power__text.text!= "We believe in the power of teams and are creating a community of teams you have worked with."

      p.power__text.text!= "Keep that team spirit alive by staying connected on Dreamteams Slack Space after the project ends. Exchange ideas, jokes and opportunities with the people you have worked with."

      p.power__text.text!= "Teams automatically get team profiles showing their members and accomplishments on Dreamteams.io. Collect all your teams to showcase your professional journey in a new and better way!"

// POWER :: END