// TEAM :: START

#team.team
  .container.container--shadowBorder

      h2.team__title.title!= "The team"

      img(src="./img/img-team.png" srcset="./img/img-team@2x.png" title="" alt="" class="team__img")

      p.team__subtitle.subtitle!= "Simon Isaksen & Frédéric André Heitemann"
      p.team__text.text!= "We are two consultanst from Oslo, Norway who have experienced the awesome feeling of working in well functioning teams. In a ever more complex world teams are becoming the most important construct for solving the worlds biggest problems. Thats why we created Dreamteams, a community where teams are in the centre!"

// TEAM :: END