// USER :: START

.user
  .user__row
    .user__row-left
      .user__row-top
        .user__img-wrap
          .user__img

      .user__row-bottom
        p.user__title.subtitle!= "Simon Isaksen"
        p.user__subtitle.text!= "Member of 7 teams"
        p.user__position.text!= "Co-founder & CEO of Dreamteams"

    .user__row-right
      a.user__link(href="")

// USER :: END