// VIDEO :: START

#video.video
  .container.container--shadowBorder

    .video__wrap
      iframe(width="560" height="315" src="https://www.youtube.com/embed/2tMKO_9SD1Y?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

// VIDEO :: END