---
title: Dreamteams - A community for teams that have worked together
favicon: false

bodyClassName: home
dataPageName: index

additionalStyleFile: false
---
extends shared/_layout

block content

  include ./components/_info
  include ./components/_video
  include ./components/_power
  include ./components/_team
