---
title: Dreamteams - Profiles
favicon: false

bodyClassName: profile
dataPageName: profile

additionalStyleFile: false
---
extends shared/_layout

block content

  .c-grid
    include ./macros/_infoMessage
    include ./components/_user
    include ./components/_more
