.header {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 68px;
  border-bottom: 1px solid $c-black;
  background-color: $c-darkCerulean;


  &__wrap {
    display: flex;
    height: 68px;
  }


  &__row {
    display: flex;
    width: 50%;

    &--nav {
      justify-content: flex-end;
      @include respond(es) {
        display: none;
      }
      @include respond(m) {
        display: flex;
      }
    }

    &--mobile {
      @include respond(es) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      @include respond(m) {
        display: none;
      }
    }
  }
}