.header {
  height: 68px;
  border-bottom: 1px solid $c-black;


  &__wrap {
    display: flex;
    height: 68px;
  }


  .row {
    display: flex;
    width: 50%;

    &:nth-child(2) {
      justify-content: flex-end;
    }
  }
}