.infoMessage {
  position: relative;
  min-height: 250px;
  padding: 45px;
  background-color: $c-darkCerulean;

  &.is-hide {
    display: none;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;

    &:hover {
      opacity: 0.5;
      @include transition(opacity);
    }

    &-line {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: #ffffff;
      @include transition(opacity);

      &--0 {
        left: 0;
        transform: rotate(-45deg);
      }
      &--1 {
        right: 0;
        transform: rotate(45deg);
      }
    }
  }

  &__title {
    line-height: 1;
    text-align: left;
    color: #ffffff;

    &--wb {
      margin-bottom: 30px;
      font-weight: normal;
    }

    a {
      color: #f5d846;
    }
  }

  &__text {
    color: #ffffff;

    a {
      color: #f5d846;
    }
  }
}