// INFO MESSAGE :: START

.infoMessage
  .infoMessage__wrrapper
    a.infoMessage__close(href="#" infoMessage-js)
      span.infoMessage__close-line.infoMessage__close-line--0
      span.infoMessage__close-line.infoMessage__close-line--1

    p.infoMessage__title.subtitle!= "Thank you for registering your teams"
    p.infoMessage__title.subtitle.infoMessage__title--wb!= "Here is your profile with all your team."

    p.infoMessage__text.text!= "1. Follow instruction from Slack to comfirm your email and receive your slack channel"
    p.infoMessage__text.text!= "2. Add members by sending them the <a href='#'>team link</a>"

// INFO MESSAGE :: END