// LOGOTYPE :: START

.logo
  a(href="#" title="" class="logo__link")
    img(src="./img/logo.svg" class="logo__icon")
    .logo__wrap
      p.logo__title!= "Dreamteams"
      p.logo__subtitle!= "- A community for teams that have worked together"

// LOGOTYPE :: END