// NAV :: START

nav.nav
  ul.nav__list
    li.nav__item
      a(href="#" title="" class="nav__link")!= "About us"

    li.nav__item
      a(href="#" title="" class="nav__link")!= "Logg inn"

// NAV :: END