// NAV :: START

-
  var navItemData = [
    {
      name: "About us",
      href: "#"
    },
    {
      name: "Profiles",
      href: "profile.html"
    },
    {
      name: "Logg inn",
      href: "#"
    },
    {
      name: "Add teams",
      href: "teams.html"
    }
  ];


mixin navItem(hrefVal, name, activeVal)
  li.nav__item
    a.nav__link(
      href!= hrefVal
      title=""
      class!= (bodyClassName === activeVal) ? "is-active": ""
    )!= name


nav.nav
  ul.nav__list

    +navItem("#", "About us", "")

    if(bodyClassName === 'profile' || bodyClassName === 'teams')
      +navItem("profile.html", "Profiles", "profile")

    +navItem("#", "Logg inn", "")

    if(bodyClassName === 'profile' || bodyClassName === 'teams')
      +navItem("teams.html", "Add teams", "teams")



// NAV :: END