// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-info-0-name: 'sp-info-0';
$sp-info-0-x: 0px;
$sp-info-0-y: 141px;
$sp-info-0-offset-x: 0px;
$sp-info-0-offset-y: -141px;
$sp-info-0-width: 143px;
$sp-info-0-height: 121px;
$sp-info-0-total-width: 286px;
$sp-info-0-total-height: 262px;
$sp-info-0-image: '../img/sprite.png';
$sp-info-0: (0px, 141px, 0px, -141px, 143px, 121px, 286px, 262px, '../img/sprite.png', 'sp-info-0', );
$sp-info-1-name: 'sp-info-1';
$sp-info-1-x: 0px;
$sp-info-1-y: 0px;
$sp-info-1-offset-x: 0px;
$sp-info-1-offset-y: 0px;
$sp-info-1-width: 139px;
$sp-info-1-height: 136px;
$sp-info-1-total-width: 286px;
$sp-info-1-total-height: 262px;
$sp-info-1-image: '../img/sprite.png';
$sp-info-1: (0px, 0px, 0px, 0px, 139px, 136px, 286px, 262px, '../img/sprite.png', 'sp-info-1', );
$sp-info-2-name: 'sp-info-2';
$sp-info-2-x: 144px;
$sp-info-2-y: 0px;
$sp-info-2-offset-x: -144px;
$sp-info-2-offset-y: 0px;
$sp-info-2-width: 142px;
$sp-info-2-height: 132px;
$sp-info-2-total-width: 286px;
$sp-info-2-total-height: 262px;
$sp-info-2-image: '../img/sprite.png';
$sp-info-2: (144px, 0px, -144px, 0px, 142px, 132px, 286px, 262px, '../img/sprite.png', 'sp-info-2', );
$sp-logo-name: 'sp-logo';
$sp-logo-x: 148px;
$sp-logo-y: 141px;
$sp-logo-offset-x: -148px;
$sp-logo-offset-y: -141px;
$sp-logo-width: 59px;
$sp-logo-height: 45px;
$sp-logo-total-width: 286px;
$sp-logo-total-height: 262px;
$sp-logo-image: '../img/sprite.png';
$sp-logo: (148px, 141px, -148px, -141px, 59px, 45px, 286px, 262px, '../img/sprite.png', 'sp-logo', );
$sp-info-0-2x-name: 'sp-info-0@2x';
$sp-info-0-2x-x: 0px;
$sp-info-0-2x-y: 282px;
$sp-info-0-2x-offset-x: 0px;
$sp-info-0-2x-offset-y: -282px;
$sp-info-0-2x-width: 286px;
$sp-info-0-2x-height: 242px;
$sp-info-0-2x-total-width: 572px;
$sp-info-0-2x-total-height: 524px;
$sp-info-0-2x-image: '../img/sprite@2x.png';
$sp-info-0-2x: (0px, 282px, 0px, -282px, 286px, 242px, 572px, 524px, '../img/sprite@2x.png', 'sp-info-0@2x', );
$sp-info-1-2x-name: 'sp-info-1@2x';
$sp-info-1-2x-x: 0px;
$sp-info-1-2x-y: 0px;
$sp-info-1-2x-offset-x: 0px;
$sp-info-1-2x-offset-y: 0px;
$sp-info-1-2x-width: 278px;
$sp-info-1-2x-height: 272px;
$sp-info-1-2x-total-width: 572px;
$sp-info-1-2x-total-height: 524px;
$sp-info-1-2x-image: '../img/sprite@2x.png';
$sp-info-1-2x: (0px, 0px, 0px, 0px, 278px, 272px, 572px, 524px, '../img/sprite@2x.png', 'sp-info-1@2x', );
$sp-info-2-2x-name: 'sp-info-2@2x';
$sp-info-2-2x-x: 288px;
$sp-info-2-2x-y: 0px;
$sp-info-2-2x-offset-x: -288px;
$sp-info-2-2x-offset-y: 0px;
$sp-info-2-2x-width: 284px;
$sp-info-2-2x-height: 264px;
$sp-info-2-2x-total-width: 572px;
$sp-info-2-2x-total-height: 524px;
$sp-info-2-2x-image: '../img/sprite@2x.png';
$sp-info-2-2x: (288px, 0px, -288px, 0px, 284px, 264px, 572px, 524px, '../img/sprite@2x.png', 'sp-info-2@2x', );
$sp-logo-2x-name: 'sp-logo@2x';
$sp-logo-2x-x: 296px;
$sp-logo-2x-y: 282px;
$sp-logo-2x-offset-x: -296px;
$sp-logo-2x-offset-y: -282px;
$sp-logo-2x-width: 118px;
$sp-logo-2x-height: 90px;
$sp-logo-2x-total-width: 572px;
$sp-logo-2x-total-height: 524px;
$sp-logo-2x-image: '../img/sprite@2x.png';
$sp-logo-2x: (296px, 282px, -296px, -282px, 118px, 90px, 572px, 524px, '../img/sprite@2x.png', 'sp-logo@2x', );
$spritesheet-width: 286px;
$spritesheet-height: 262px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sp-info-0, $sp-info-1, $sp-info-2, $sp-logo, );
$spritesheet: (286px, 262px, '../img/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 572px;
$retina-spritesheet-height: 524px;
$retina-spritesheet-image: '../img/sprite@2x.png';
$retina-spritesheet-sprites: ($sp-info-0-2x, $sp-info-1-2x, $sp-info-2-2x, $sp-logo-2x, );
$retina-spritesheet: (572px, 524px, '../img/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-info-0-group-name: 'sp-info-0';
$sp-info-0-group: ('sp-info-0', $sp-info-0, $sp-info-0-2x, );
$sp-info-1-group-name: 'sp-info-1';
$sp-info-1-group: ('sp-info-1', $sp-info-1, $sp-info-1-2x, );
$sp-info-2-group-name: 'sp-info-2';
$sp-info-2-group: ('sp-info-2', $sp-info-2, $sp-info-2-2x, );
$sp-logo-group-name: 'sp-logo';
$sp-logo-group: ('sp-logo', $sp-logo, $sp-logo-2x, );
$retina-groups: ($sp-info-0-group, $sp-info-1-group, $sp-info-2-group, $sp-logo-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
